@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --primary-color: #181821;
  --text-white: #fff;
  --secondary-color: #f05123;
}

html {
  font-size: 62.5%;
}

.app {
  width: 100vw;
  height: 100vh;
  background-image: url("../Imgs/bg_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form {
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text-white);
}

.form-logo {
  font-size: 4rem;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #2cccff,
    #20e3b2,
    #ff6651,
    #f62682,
    #6a5af9
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  margin: 20px;
}

.form-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.row {
  position: relative;
  margin:0 100px 30px;
  display: block;
  width: 400px;
}


.form-label {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 1.6rem;
  transform: translateY(-50%);
  background-color: var(--secondary-color);
  color: var(--text-white);
  border-radius: 20px;
  padding: 5px 10px;
}


.form-input {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 20px 40px 15px;
  font-size: 1.6rem;
  color:  var(--secondary-color);
}

.form-btn {
  border: 1px solid var(--secondary-color);
  background-color: var(--text-white);
  border-radius: 20px;
  outline: none;
  padding: 15px 40px;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.form-btn:hover {
  background-color:var(--secondary-color);
  color: var(--text-white);
}

.form-control {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.form-control a {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary-color);
}

.form-term {
  font-size: 1.2rem;
  margin: 0 auto 40px;
  display: block;
  width: 60%;
  text-align: center;
  color: rgba(0,0,0,0.5);
}